<main class="three bd-content" id="content" role="main">
    <div class="z">
        <div class="banner about">
        
        <div class="banner-info">
				<div class="container">
				<h1>Kassy's Bakery</h1>
				<h3>About Us</h3>
				</div>
			</div>
        </div
        

    <div class="container">
    <section >
		<div class="cta-container">
			<div class="container">
			<div class="row">
			<div class="col-md-2 align-self-start">
				
				<!-- Description -->
				<p class="section_discover__description">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit.
				</p>

			</div>
			<div class="col-md-4 align-self-start">
				
				<!-- Image -->
				<div class="section_discover__img">
					<img src="images/baker.jpg" class="img-fluid" alt="...">
				</div>

			</div>
			<div class="col-md-5 align-self-center">
				
				<!-- Content -->
				<h2 class="text-white"><em>Lorem ipsum</em> dolor sit amet</h2>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias veritatis nisi, consequatur, laborum libero a neque ducimus. Porro rem illum quo nostrum quisquam asperiores, blanditiis, consectetur. Possimus facilis velit, voluptatibus!
				</p>

			</div>
		</div>
			</div>
		</div>
        </section>
        <section class="section section_info section_info_opposite">
		<div class="container">
			<div class="row">
				<div class="col">
	
					<!-- Heading -->
					<h2 class="section__heading text-center text-white">
						Behind the scenes
					</h2>

					<!-- Subheading -->
					<p class="section__subheading col-6 center ">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia obcaecati sit odio velit culpa aspernatur consectetur natus quidem minima veritatis.
					</p>
	
				</div>
			</div> <!-- / .row -->
			<div class="row align-items-justify">
				<div class="col-md-5 order-md-3">
					
					<div class="section_info__img">
                    <img src="images/contact-banner.jpg">
					</div>

				</div>
				<div class="col-md-1 order-md-2"></div>
				<div class="col-md-5 order-md-1">

					<div class="section_info__body">
						<p class="lead text-heading">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident sequi ratione, accusamus quo mollitia architecto, explicabo obcaecati.
						</p>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum enim saepe aperiam eius, quam blanditiis necessitatibus dolorem dignissimos pariatur quas velit nihil tempora, libero unde molestiae! Illum, inventore. Iusto, autem!
						</p>
						<br>
						<p>
							<a href="/contact" class="button">
								Contact Us
							</a>
						</p>
					</div>
					
				</div>
			</div> <!-- / .row -->
		</div> <!-- / .container -->
	</section>
</div>
</div> <!--  	main	 -->