<main class="three bd-content" id="content" role="main">
    <div class="z">
        <div class="banner about">
        <div class="banner-info">
				<div class="container">
				<h1>Connect With Us</h1>
				<h3></h3>
				</div>
			</div>
        </div
        

    <div class="container">
    <section>
    <div class="container">
        <div class="row">
                    <div class="col-md-3 order-md-2">
                        <!-- Contact info -->
                        <div class="section_contact__info">
                            <div class="section_contact__info__item">
                                <h4 class="section_contact__info__item__heading">
                                    Write us
                                </h4>
                                <p class="section_contact__info__item__content">
                                    <a href="mailto:admin@domain.com">admin@domain.com</a>
                                </p>
                            </div>
                            <div class="section_contact__info__item">
                                <h4 class="section_contact__info__item__heading">
                                    Call us
                                </h4>
                                <p class="section_contact__info__item__content">
                                    <a href="tel:+19876543210">+1 987 654 3210</a>
                                </p>
                            </div>
                            <div class="section_contact__info__item">
                                <h4 class="section_contact__info__item__heading">
                                    Visit us
                                </h4>
                                <p class="section_contact__info__item__content">
                                    1234 Altschul, New York, NY 10027-0000
                                </p>
                            </div>
                            <div class="section_contact__info__item">
                                <h4 class="section_contact__info__item__heading">
                                    Social links
                                </h4>
                                <ul class="section_contact__info__item__content">
                                    <li>
                                        <a href="#">
                                            <i class="fab fa-twitter fa-lg"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fab fa-facebook fa-lg"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fab fa-instagram fa-lg"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-8 order-md-1">
                        
                        <!-- Contact form -->
                        <form method="POST" action="/contact" class="section_contact__form" >
                            <div class="form_group">
                                
                                <input type="text"  id="name" name="name" class="item" placeholder="Your name..">
                            </div>
                            <div class="form_group">
                                
                                <input type="text"  id="email" name="email" class="item" placeholder="Your email..">
                            </div>
                            
                            <div class="form_group">
                                
                                <textarea id="subject" name="subject" class="item" placeholder="Write something.." style="height:200px"></textarea>
                            </div>
                            <div class="form_group">
                            <input type="submit" value="Submit" class="button">
                            </div>
                        </form>

                    </div>
                </div>
            </div>
    </section>
</div>
</div> <!--  	main	 -->