<main class="three bd-content" id="content" role="main">
    <div class="z">
        <div class="banner cookies">
            <div class="banner-info">
				<div class="container">
				<h1>Cookies </h1>
				<h3>Mookies</h3>
				</div>
			</div>
        </div
        
        <section class="products">
            <div class="container">	
            <div class="card-wrapper">
                    <% settings.bakery.cookies.each do |cookie| %>
                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top" src=<%= cookie.image %> alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title"><%= cookie.name %><span class="card-text"><%= cookie.price %></span></h5>
                                <p class="card-text"><%= cookie.description %></p>
                                <div class="product-quantity">
                                    <input type="number" value="2" min="1">
                                    <button class="btn-sm add-product">
                                        Add to cart
                                    </button>
                                </div>
                            </div>
                        </div>
                    <% end %>
                </div>
            </div>
        </section>
    </div>
</div> <!--  	main	 -->
