<main class="three bd-content" id="content" role="main">
    <div class="z">
        <div class="banner about">
        <div class="banner-info">
				<div class="container">
				<h1>Connect With Us</h1>
				<h3></h3>
				</div>
			</div>
        </div
        

    <div class="container">
    <section>
        <div class="container">
            <h2 class="text-white">Thank You For Subscribing!</h2>
            <h4 class="text-white">Status Code: 202</h4>    
        </div>  
    </section>
    <section>
        <div class="container">
            <h5 class="center"><a href="/">Back to Home</a></h5>    
        </div>  
    </section>
</div>
</div> <!--  	main	 -->